{% extends 'adminlte/lib/_main_header.html' %}

{% block nav_bar_left %}
{% endblock nav_bar_left %}

{% block nav_bar_center %}
<!-- 可能的搜索功能 -->
{% endblock nav_bar_center %}

{% block nav_custom_menu %}
<!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <ul class="nav navbar-nav">
        {% block user_info %}
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user fa-2x"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                {% comment %} <img src="{%avatar_url size=128 %}" alt="User Avatar" class="img-size-50 mr-3 img-circle"> {% endcomment %}
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                            {{request.user.username}}
                                        <span class="float-right text-sm text-danger"><i class="fas fa-online"></i></span>
                                    </h3>
                                    {% comment %} <p class="text-sm"><small>{% trans 'Member since' %} :</small></p> {% endcomment %}
                                    {% comment %} <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>  <small>{{ request.user.date_joined }}</small></p> {% endcomment %}
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-footer">
                                <a href="{% url 'set_password' %}" class="btn btn-primary btn-sm"> 修改密码</a>
                                <a href="{% url 'logout' %}"       class="btn btn-danger btn-sm" > 登出</a>
                            </div>      
                    </div>
                </li>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-sm"> 登录</a>
            {% endif %}
        {% endblock user_info %}
        </ul>
    </ul>

{% endblock nav_custom_menu %}
