{% extends 'base.html' %}
{% load dicts %}<!-- 加载自定义的dict_get过滤器所在的文件 -->
{% block content %}
        {% comment %} <div class="card">
            <div class="card-header">头部</div>
            <div class="card-body">内容</div> 
            <div class="card-footer">底部</div>
        </div> {% endcomment %}
        <div class="container-fluid">
            <div class="row">
            <div class="col">
            {% for name in public %}
                <div class="card card-default">
                    <div class="card-header with-border">
                    <h3 class="card-title"> {{name}}</h3>
                        <div class="card-tools pull-right">
                            <span class="badge badge-primary">Public</span>
                        </div><!-- /.card-tools -->
                    </div><!-- /.card-header -->
                    <div class="card-body table-responsive p-1">
                    <table class="table table-striped table-valign-middle">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Name </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k in public|dict_get:name %}
                            <tr "list-group-item">
                            <td>
                            {{ forloop.counter }}
                            </td>
                            <td class="card-text">
                                <a href="{%url "detail_public" name k.1 %}" class="card-link" >{{k.0}}</a>
                            </td></tr>  
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.card-body -->
                </div><!-- /.card -->            
            {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
            <div class="col">
            {% for name in private %}
                <div class="card card-default">
                    <div class="card-header with-border">
                    <h3 class="card-title"> {{name}}</h3>
                        <div class="card-tools pull-right">
                            <span class="badge badge-primary">Private</span>
                        </div><!-- /.card-tools -->
                    </div><!-- /.card-header -->
                    <div class="card-body table-responsive p-1">
                    <table class="table table-striped table-valign-middle">
                        <thead>
                        <tr>
                            <th>Index</th>
                            <th>Name </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k in private|dict_get:name %}
                            <tr "list-group-item">
                            <td>
                            {{ forloop.counter }}
                            </td>
                            <td >
                                <a href="{%url "detail_private" name k.1 %}" class="card-link" >{{k.0}}</a>
                            </td></tr>  
                        {% endfor %}
                        </tbody>
                    </table>
                    </div><!-- /.card-body -->
                </div><!-- /.card -->           
            {% endfor %}
                 {% comment %} <div class="card">
                    <div class="card-header with-border">
                        <h3 class="card-title">Today‘s Knowedge</h3>
                        <div class="card-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <span class="badge badge-primary">Label</span>
                        </div><!-- /.card-tools -->
                    </div><!-- /.card-header -->
                    <div class="card-body">
                    The body of the card
                    </div><!-- /.card-body -->
                    <div class="card-footer">
                    The footer of the card
                    </div><!-- card-footer -->
                </div><!-- /.card --> {% endcomment %}
            </div>
            </div>
        </div>
    {% endif %}

{% endblock %}