{% extends 'adminlte/base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Today‘s Knowedge</h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <span class="label label-primary">Label</span>
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">
            The body of the box
            </div><!-- /.box-body -->
            <div class="box-footer">
            The footer of the box
            </div><!-- box-footer -->
        </div><!-- /.box -->
    {% else %}
        <h1>
            Please LOGGIN
        </h1>
    {% endif %}
    {% block nav_sidebar %}
        {% include 'adminlte/lib/_main_sidebar.html' %}
    {% endblock %}
{% endblock %}