{% extends 'admin/base_login.html' %}
{% block box_name%}
    <a href="{% url 'login' %}">欢迎登录</a>
{% endblock%}
{% block content %}
        {% comment %} <a href="{% url 'register' %}"> 注册用户 </a> {% endcomment %}
       <form method="post">
        {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
            <div class="form-group has-feedback">
                <label class=" control-label" for="id_username">用户名</label>
                <input id="id_username" name="username" type="text" class="form-control" placeholder="用户名" autofocus required>
            </div>
            <div class="form-group has-feedback">
                <label class=" control-label" for="id_password">密码</label>
                <input id="id_password" name="password" type="password" class="form-control" placeholder="密码" required>
            </div>

            <button id="btn_login" type="submit" class="btn btn-primary btn-block btn-flat" data-loading-text="登录中..."  autocomplete="off">登录</button> 
            <button id="btn_logon" type="reset" class="btn btn-primary btn-block btn-flat" data-loading-text="登录中..."  autocomplete="off"
                onclick="window.location.href={% url 'register' %}"
            >注册</button> 
        </form>
{% endblock %}