{% extends 'base.html' %}
{% block content %}
<script language="JavaScript" src="https://code.jquery.com/jquery-3.1.0.min.js">
</script>
<script language="JavaScript">
$(document).ready(function(){
    // jQuery对象->DOM对象 $("")[0]
    $("select#data_select").change(function(){
        $("select#algo_select")[0].selectedIndex= $("select#data_select")[0].selectedIndex;
    })
})
</script>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form id="job_create" mothod="post">
                {% csrf_token %}
                <ul>
                 <h1 id="testtest">
                 创建任务
                 </h1>
                </ul>
                <br>
                <!-- Model name -->
                <div class="form-group row">
                    <label for="job_name" class="col-sm-1-12 col-form-legend">任务名:&nbsp&nbsp&nbsp</label>

                    <div class="col-sm-1-6">
                        <input type="text" class="form-control" name="job_name" id="job_name" placeholder="Object">
                    </div>
                </div>
                <!-- Dataset selection 下拉菜单 -->
                <div class="form-group row form-inline">
                    <label for="data_select"> 数据集:&nbsp&nbsp&nbsp</label>
                    {% if dataset %}
                    <select name="data_select" id="data_select" class="form-control">
                    {% for item in dataset %}
                        <option value={{item.id}}>
                            {{item.name|truncatewords:"5"}}
                        </option>
                    {% endfor %}        
                    </select>            
                    {% endif %}
                </div>
                <!-- Algorithm selection 下拉菜单-->
                <div class="form-group row form-inline">
                    <label for="algo_select"> 模型大小（MFLOPS）: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                    {% if user_algorithm %}
                    <select name="algo_select" id="algo_select" class="form-control">
                    {% for aitem in user_algorithm %}
                        <option value={{aitem.id}} >
                            {{aitem|truncatewords:"5"}}
                        </option>
                    {% endfor %}        
                    </select>            
                    {% endif %}
                </div>
                {% comment %} <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
                <script language="JavaScript">
                    $("#systemname").change(function() {
                      $.ajax({
                        url: 'job/0/(?P<task>[a-zA-Z_]+)/',
                          data:{"data_select":$(this).val()},
                     type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            var content='';
                            $.each(data, function(i, item){
                                  content+='<option value='+item+'>'+item+'</option>'
                                });
                            $('#algo_select').html(content)
                        },
                      });
                    });
                </script> {% endcomment %}

                <!-- Model settings
                <div class="form-group col">
                    <legend class="col-form-label col-sm-1-6"><b>模型设置:&nbsp&nbsp&nbsp</b></legend>-->
                    <!-- Model cost 浮点数-待添加前端格式检查
                    <div class="form-inline col-sm-1-12">
                        <label for="compute_cost">模型大小：&nbsp&nbsp&nbsp </label>
                        <input type="number" name="compute_cost" id="cost_upper" class="form-control" value=1000 aria-describedby="helpId">
                        <p class="form-control-static col-form-label ">&nbsp&nbsp>&nbsp&nbspFLOPS(K)&nbsp&nbsp>&nbsp&nbsp</p>
                        <input type="number" name="compute_cost2" id="cost_bound" class="form-control" value=200 aria-describedby="helpId">
                    </div>
                    <small id="helpId" class="text-muted">You should enter some numbers</small> -->
                    <!-- Hyper parameters 待添加前端格式检查-->

                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button name="btn_submit" formmethod="post" id="btn_submit" type="submit" class="btn btn-primary btn-flat">Submit</button>
                        {% comment %} <input type="submit" class=""> 提交任务 </button> {% endcomment %}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock content %}