{% extends 'base.html' %}
{% block content %}
<!-- Card -->
    <div class="card">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <div class="form-group">
            <label for="model_name">Model Name</label>
            <input type="text" name="model_name" id="model_name" class="form-control" placeholder="Object" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Help text</small>
            </div>
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
        </div>
    </div>

{% endblock content %}