{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
        <!-- 使用模板 -->
        <div class="col">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title"> New Job - Using Template </h3>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                    <tr>
                        <td>
                            <a href="{% url 'mission_center' %}" >
                                <img src="/media/Classify.png" width="100px">
                                <p>
                                Image Classification
                                </p>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'mission_center' %}" >
                                <img src="/media/Identify.png" width="100px">
                                <p>
                                Object Detection
                                </p>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'mission_center' %}" >
                                <img src="/media/Blackbox.png" width="100px">
                                <p>
                                Black Box
                                </p>
                            </a>
                        </td>

                    </tr>
                    </table>

                </div>

            </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title"> Created Job List </h3>
                        <div class="card-tools pull-right">
                            <span class="badge ">工具块占位符</span>
                        </div><!-- /.card-tools -->
                </div>
                <div class="card-body table-responsive">
                    <!-- 搜索框 -->
                    <div>
                        <p> ---搜索框占位符--- </p>
                    </div>
                    <div>
                    <!-- 正在运行的算法 按算法类分实例 -->                        
                        <ul>
                            <li>
                                <div data-toggle="collapse" data-target="#algorithm01" role="tab">
                                <h4>
                                    Algorithm 01
                                </h4>
                                </div>
                                <div id="algorithm01">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Job Name</th>
                                                <th>Job Status</th>
                                                <th>Start time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                <div data-toggle="collapse" data-target="#algorithm02" role="tab">
                                    <h4>
                                        Algorithm 02
                                    </h4>
                                </div>
                                <div id="algorithm02">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Job Name</th>
                                                <th>Job Status</th>
                                                <th>Start time</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td scope="row"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}