{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <!-- 新的行 选择模板任务 -->
        <div class="row">
        <!-- 图像分类 -->
        <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3" style="float: left">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title"> 图片分类 </h3>
                </div>
                <div class="card-body table-responsive">
                <!--  -->
                    <a href="{% url 'manage_job' "Image_Classification" %}" >
                        <img src="/media/Classify.png" width="100px">
                        <p>
                        Image Classification
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 图像检测 -->
        <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3" style="float: left">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title"> 目标检测 </h3>
                </div>
                <div class="card-body table-responsive">
                    <a href="{% url 'mission_center' %}" >
                        <img src="/media/Identify.png" width="100px">
                        <p>
                        Image Detection
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <!-- 黑盒优化 -->
        <div class="col col-sm-3 col-md-3 col-lg-3 col-xl-3" style="float: left">
            <div class="card card-primary">
                <div class="card-header with-border">
                    <h3 class="card-title"> BlackBox Opt </h3>
                </div>
                <div class="card-body table-responsive">
                    <a href="{% url 'mission_center' %}" >
                        <img src="/media/Blackbox.png" width="100px">
                        <p>
                        BlackBox Opt 
                        </p>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <!-- 新的行 -->
        <div class="row">
        <div class="col">
        {% if algorithm_joblist %}
            {% for jobdetail in algorithm_joblist %}
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title"> {{ jobdetail.al_name|title }} </h3>
                            <div class="card-tools">
                              <!-- Collapse Button -->
                              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            </div>
                </div>
                <div class="card-body table-responsive">
                    <!-- 搜索框 -->
                    <div>
                        <p> ---搜索框占位符--- </p>
                    </div>
                    <div>
                    <!-- 正在运行的算法 按算法类分实例 -->

                        <ul>
                            <li>
                                <div data-toggle="collapse" data-target="#algorithm01" role="tab">
                                    <h4>
                                        {{ jobdetail.al_name|title }}
                                    </h4>
                                    </div>
                                    <div id="algorithm01">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>任务名</th>
                                                    <th>创建人</th>
                                                    <th>任务状态</th>
                                                    <th>开始时间</th>
                                                    <th>作业路径</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for item in jobdetail.joblist%}
                                                <tr>
                                                    <td scope="row"><a href= "{% url 'detail_job' "job" item.jobid %}">{{item.name}}</a></td>
                                                    <td>{{item.username}}</td>
                                                    <td>{{item.state}}</td>
                                                    <td>{{item.createdTime}}</td>
                                                    <td>{{item.path}}</td>
                                                    <td><form method = "delete">
                                                        <a href="{% url 'delete_job' item.jobid %}" class="button">停止</a>
                                                    </form>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        </div>
    </div>
{% endblock content %}