{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <button >
    {% endif %}
    {% if item %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">{{item.name}}</h3>
                {% comment %} <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    <span class="label label-primary">{{item.task}}sssssss</span>
                </div><!-- /.box-tools --> {% endcomment %}
            </div><!-- /.box-header -->
            <div class="box-body">
            <table class="table">
            {% if item.task %}
            <thead>
                <tr>
                    <th>TASK IS {{item.task}}</th>
                </tr>
            </thead>
            {% endif %}
            {% if item.get_fields %}
            <tbody>
                {% for name,value in item.get_fields %}
                <tr><td>
                {{name}} &nbsp  => &nbsp {{value}}
                </td></tr>
                {% endfor %}
            </tbody>
            {% else %}
            <tbody>
                {% for key,value in item.items  %}
                <tr><td>
                {{key}} &nbsp  => &nbsp {{value}}
                </td></tr>
                {% endfor %}
            {% endif %}
            </tbody>
            </table>
            </div><!-- /.box-body -->z
            <div class="box-footer">
            </div><!-- box-footer -->
        </div><!-- /.box -->
    {% endif %}
{% endblock content %}