{% extends 'base.html' %}

{% block content %}
    {%if not is_public%}
    <div class="box">
        <button type="button" class="btn btn-primary"> New {{type}} </button>
    </div>
    {% endif %}
    {% if list %}
        {% for item in list %}
        {% comment %} <ul class="list-group">
            <li class="list-group-item"> </li>
            <li class="list-group-item"> </li>
        </ul> {% endcomment %} <!-- 这是Bootstrap的列表代码块 -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                {% if is_public %}
                    <a href= "{% url 'detail_public'  type item.id %}">{{item.name|truncatewords:"5"}}</a>
                {% else %}
                    <a href= "{% url 'detail_private' type item.id %}">{{item.name|truncatewords:"5"}}</a>
                {% endif %}
                </h3>
                <div class="box-tools pull-right">
                    <!-- Buttons, labels, and many other things can be placed here! -->
                    <!-- Here is a label for example -->
                    {% if item.task %}
                    <span class="label label-primary"><b>TASK: </b>{{item.task|truncatewords:"3"}}</span>
                    {% endif %}
                    {%if not is_public%}
                    <button type="button" class="btn btn-danger"> 删除 </button>
                    {% endif %}
                    {% comment %} <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button> {% endcomment %}
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
        </div><!-- /.box -->
        {% endfor %}
    {% else %}
        <h1>
            Not correct key word.
        </h1>
    {% endif %}
{% endblock %}