<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<h1>更改密码页面</h1>
<div style="margin: 15% 40%;">
    <h1>更改密码</h1>
   <form method="post">
    {% if content %}
                <div type = "text">{{ content }}</div>
    {% endif %}
    {% csrf_token %}
        <p>
            <label for="id_password">旧密码：</label>
            <input type="password" id="id_password" placeholder="密码" name="old_password" required >
        </p>
        <p>
            <label for="id_password1">新密码：</label>
            <input type="password" id="id_password1" placeholder="重复密码" name="new_password" required >
        </p>
        <p>
            <label for="id_password2">重复密码：</label>
            <input type="password" id="id_password2" placeholder="重复密码" name="repeat_password" required >
        </p>
        <input type="submit" value="确定">
    </form>
</div>
</body>
</html>