<!DOCTYPE html>
{% extends 'admin/base_login.html' %}
{% block box_name%}
    <a >修改密码 {{ request.user.username }}</a>
{% endblock%}
{% block content %}
        {% comment %} <a href="{% url 'register' %}"> 注册用户 </a> {% endcomment %}
       <form method="post">
        {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
        {% endif %}
        {% csrf_token %}
            <div class="form-group has-feedback">
                <label class=" control-label" for="id_password">旧密码</label>
                <input id="id_password" name="old_password" type="password" class="form-control" placeholder="旧密码" autofocus required>
            </div>
            <div class="form-group has-feedback">
                <label class=" control-label" for="id_password1">新密码</label>
                <input id="id_password1" name="new_password" type="password" class="form-control" placeholder="重复密码" required>
            </div>
            <div class="form-group has-feedback">
                <label class=" control-label" for="id_password2">重复密码</label>
                <input id="id_password2" name="repeat_password" type="password" class="form-control" placeholder="重复密码" required>
            </div>
            <button id="btn_login" type="submit" class="btn btn-primary btn-block btn-flat"  autocomplete="off">确定</button> 
            <button id="btn_login" type="reset" class="btn btn-primary btn-block btn-flat"  autocomplete="off">重置</button> 
            <button id="btn_login" type="button" class="btn btn-primary btn-block btn-flat"  autocomplete="off" onclick="window.location.href={%url "index"%} ">返回首页</button> 

        </form>
{% endblock %}
